<!DOCTYPE html>
<html lang="en" class="no-js" itemscope itemptype="http://schema.org/WebApplication">
  <head>
    <title>Energenie remote control</title>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <style type="text/css">
      body {
        text-align: center;
      }
      a {
        font-size: 15em;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <a href="/switch/1/on">&#x1f31e;</a>
    <a href="/switch/1/off">&#x1f31a;</a>
    {{ action }}
  </body>
</html>
